.about-us-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-us-container h2 {
    font-weight: bold;
    font-family: 'calibri';
  }
  
  .about-us-container .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .about-us-container .about-text {
    flex-basis: 60%;
  }
  
  .about-us-container .about-image {
    flex-basis: 30%;
  }
  
  .about-us-container .about-image img {
    width: 100%;
    height: auto;
  }
  
  @media screen and (max-width: 768px) {
    .about-us-container .about-content {
      flex-direction: column;
    }
  
    .about-us-container .about-text,
    .about-us-container .about-image {
      flex-basis: 100%;
    }
  }
  