.contact-us-container {
    padding: 20px;
  }
  
  .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info {
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
  
  .contact-image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .contact-content {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .contact-info {
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .contact-image img {
      max-width: 200px;
      margin-top: 0;
    }
  }
  