.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-image {
    margin-bottom: 20px;
  }
  
  .product-image img {
    width: 100%;  
    max-width: 400px;  
    height: auto;  
  }
  
  .color-selection {
    margin-bottom: 20px;
  }
  
  .color-buttons {
    display: flex;
    justify-content: center;
  }
  
  .color-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #F9ED32;  
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .product-info {
    max-width: 800px;
  }
  
  .product-info h2 {
    color: #424242;  
    margin-bottom: 20px;
  }
  
  .product-info p {
    color: #373737;  
    line-height: 1.6;
  }
  
  .product-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .product-info th,
  .product-info td {
    padding: 10px;
    border-bottom: 1px solid #ddd;  
  }
  
  .product-info th {
    text-align: left;
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    .color-buttons {
      flex-wrap: wrap;
    }
    
    .color-button {
      margin: 10px;
    }
    .buy-now-button{
        margin-top:2000px;
    }
  }
  .buy-now-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F9ED32;  
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 160px;
  }
  
  .buy-now-button:hover {
    background-color: #FFF225;  
  }
  
  