
footer {
  background-color: #252525;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  display: inline;
  margin-right: 20px;
}

footer nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.social-icons a {
  color: #fdf9f9;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer nav ul li {
    margin: 10px;
    margin-bottom: 10px;
  }

  .social-icons {
    margin-top: 20px;
  }
}
